POSTGRES_USER=blooper
POSTGRES_DB=blooper
POSTGRES_PASSWORD=some_password
MINIO_ACCESS_KEY=some_key
MINIO_SECRET_KEY=some_key
RENDERER_URL=http://blueprintrenderer:9681
STORAGE_BASE_URL=https://blooper.io/storage